<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
		"https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
	<property name="charset" value="UTF-8" />
	<property name="severity" value="warning" />
	<property name="fileExtensions" value="java, properties, xml" />

	<!-- Excludes all 'module-info.java' files              -->
	<!-- See https://checkstyle.org/config_filefilters.html -->
	<module name="BeforeExecutionExclusionFileFilter">
		<property name="fileNamePattern" value="module\-info\.java$" />
	</module>

	<!-- https://checkstyle.org/config_filters.html#SuppressionFilter -->
	<module name="SuppressionFilter">
		<property name="file" value="${checkstyle.suppressions.file}" />
		<property name="optional" value="true" />
	</module>

	<!-- Checks for whitespace                               -->
	<!-- See https://checkstyle.org/config_whitespace.html -->
	<module name="FileTabCharacter">
		<property name="eachLine" value="true" />
	</module>

	<module name="LineLength">
		<property name="fileExtensions" value="java"/>
		<property name="max" value="120"/>
		<property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
	</module>

	<module name="TreeWalker">
		<!-- Checks for Naming Conventions.                  -->
		<!-- See https://checkstyle.org/config_naming.html -->
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />

		<!-- Checks for imports                              -->
		<!-- See https://checkstyle.org/config_import.html -->
		<module name="AvoidStarImport" />
		<module name="IllegalImport" /> <!-- defaults to sun.* packages -->
		<module name="RedundantImport" />
		<module name="UnusedImports">
			<property name="processJavadoc" value="false" />
		</module>

		<!-- Checks for Size Violations.                    -->
		<!-- See https://checkstyle.org/config_sizes.html -->
		<module name="MethodLength" />
		<module name="ParameterNumber" />

		<!-- Checks for whitespace                               -->
		<!-- See https://checkstyle.org/config_whitespace.html -->
		<module name="EmptyForIteratorPad" />
		<module name="GenericWhitespace" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter" />
		<module name="NoWhitespaceBefore" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="WhitespaceAfter" />
		<module name="WhitespaceAround" />

		<!-- Modifier Checks                                    -->
		<!-- See https://checkstyle.org/config_modifiers.html -->
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />

		<!-- Checks for blocks. You know, those {}'s         -->
		<!-- See https://checkstyle.org/config_blocks.html -->
		<module name="AvoidNestedBlocks" />
		<module name="EmptyBlock" />
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />

		<!-- Checks for common coding problems               -->
		<!-- See https://checkstyle.org/config_coding.html -->
		<module name="EmptyStatement" />
		<module name="EqualsHashCode" />
		<!-- <module name="HiddenField" /> Common pattern with constructors/setters -->
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<!-- <module name="MagicNumber" /> Too many false positives -->
		<module name="MissingSwitchDefault" />
		<module name="MultipleVariableDeclarations" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />

		<!-- Checks for class design                         -->
		<!-- See https://checkstyle.org/config_design.html -->
		<!-- <module name="DesignForExtension" /> Commented out - too strict for normal development -->
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<!-- <module name="VisibilityModifier" /> Commented out - Lombok and modern Java patterns -->

		<!-- Miscellaneous other checks.                   -->
		<!-- See https://checkstyle.org/config_misc.html -->
		<module name="ArrayTypeStyle" />
		<!-- <module name="FinalParameters" /> Commented out - too verbose -->
		<!-- <module name="TodoComment" /> Allow TODO comments -->
		<module name="UpperEll" />
	</module>
</module>